* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.user-interface, .project-view {
    background-color: white;
}

.user-interface, .createdProjects , .projectPop, .project-view{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    border: outset #c3c3c3;
    flex: 1;
}

.addProjectButton {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: flex-end;
    align-self: center;
    background-image: url(./Images/folder.png);
    background-color: white;
    background-size: contain;
    border: none;
    width: 6em;
    height: 6em;
    margin-bottom: 10px;
    cursor: pointer;
}

.project-header, .createdHeader, .form-header, .project-view-header, .todoTopic{
    height: fit-content;
    background-color: #394dcd;
    padding-left: 1%;
    color: white;
}

.project-view {
    flex: 4;
}

.projectPop {
    display: flex;
    position: absolute;
    background-color: #c3c3c3;
    border: outset #c3c3c3 ;
    width: 15rem;
    height: 5rem;
    bottom: 70%;
    left: 5%;
}

.projectPop .form {
    display: flex;
    justify-content:space-around;
    margin-top: 5px;
}

.pAddButton, .tAddButton {
    width: 5em;
    height:fit-content;
    margin-top: 5px;
    margin-left: 30%;
    background-color: #c3c3c3;
}

.createdProjects {
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: scroll;
}

.createdProjects .projectButton {
    display: flex;
    flex: 0 0 6em;
    justify-content: center;
    align-items: flex-end;
    background-image: url(./Images/folder.png);
    background-color: white;
    background-size: contain;
    border: none;
    width: 6em;
    height: 6.5em;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
    margin-bottom: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.projectButton:hover, .projectButton:focus {
    background-image: url(./Images/openFolder.png);
}

.addNewTodo {
    display: flex;
    border: none;
    width: 10em;
    height: 10em;
    justify-content: center;
    align-items: flex-end;
    background-image: url(./Images/note.png);
    background-size: contain;
    background-color: white;
    cursor: pointer;
}

.todoPop {
    position: absolute;
    bottom: 60%;
    left: 22%;
    width: 15em;
    height: 14em;
    border: outset #c3c3c3;
    background-size: cover;
    background-color:  #c3c3c3;
}

.formTodo {
    display: flex;
}

.todoDescription, .dueDate, .todoPriority {
    margin-bottom: 10px;
    margin-top: 10px;
}

.todo-view {
    display: flex;
    flex-wrap: wrap;
    height: 100em;
    width: 100em;
    gap: 20px;
    overflow: scroll;
}

.todoItem {
    width: 20em;
    height: 15em;
    border: outset #c3c3c3;
    margin-top: 10px;
}

.infoField {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    margin-left: 10px;
    text-wrap: wrap;
}

.newTodo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.removeTodo {
    display: flex;
    border: none;
    width: 5em;
    height: 5em;
    margin-left: 35%;
    justify-content: center;
    align-items: flex-end;
    background-image: url(./Images/recycle.png);
    background-size: contain;
    background-color: white;
    cursor: pointer;
}

.hidden {
    display: none;
}

.p1 {
    border: outset green;
}

.p2 {
    border: outset yellow;
}

.p3 {
    border: outset red;
}


